---
name: devcontainer-features-validate

on:
  workflow_call:

jobs:
  validate:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Validate devcontainer-feature.json file(s)
        uses: devcontainers/action@v1
        with:
          validate-only: true
          base-path-to-features: ./src
